<div>
    <md-content class="md-padding">
        <md-nav-bar md-no-ink-bar="disableInkBar" md-selected-nav-item="dashboard"
            nav-bar-aria-label="navigation links">
            <md-nav-item md-nav-sref="#" name="dashboard">Dashboard</md-nav-item>
            <md-nav-item md-nav-sref="#" name="workqueue">Work Queue</md-nav-item>
            <md-nav-item md-nav-sref="#" name="proposal">Proposal</md-nav-item>
            <md-nav-item md-nav-sref="#" name="menuselling">Menu Selling</md-nav-item>
            <md-nav-item md-nav-sref="#" name="seports">Reports</md-nav-item>
            <md-nav-item md-nav-sref="#" name="useradministration">User Administration</md-nav-item>
            <md-nav-item md-nav-sref="#" name="aboutcap">About CAP</md-nav-item>
            <md-nav-item md-nav-sref="#" name="uploaddisbursementapprovalmaterial">Upload Disbursement Approval
                Material</md-nav-item>
        </md-nav-bar>
    </md-content>
</div>
<div id="myHeader">
    <md-content class="md-padding">
        <md-nav-bar md-no-ink-bar="disableInkBar" md-selected-nav-item="dashboard"
            nav-bar-aria-label="navigation links">
            <md-nav-item md-nav-sref="#" name="dashboard">Dashboard</md-nav-item>
            <md-nav-item md-nav-sref="#" name="workqueue">Work Queue</md-nav-item>
            <md-nav-item md-nav-sref="#" name="proposal">Proposal</md-nav-item>
            <md-nav-item md-nav-sref="#" name="menuselling">Menu Selling</md-nav-item>
            <md-nav-item md-nav-sref="#" name="seports">Reports</md-nav-item>
            <md-nav-item md-nav-sref="#" name="useradministration">User Administration</md-nav-item>
            <md-nav-item md-nav-sref="#" name="aboutcap">About CAP</md-nav-item>
            <md-nav-item md-nav-sref="#" name="uploaddisbursementapprovalmaterial">Upload Disbursement Approval
                Material</md-nav-item>
        </md-nav-bar>
    </md-content>
</div>
